---
import Layouts from "../../Layout/Layouts.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../style/generelt.css";

export async function getStaticPaths() {
  const data = await fetch("https://xqvteegxtrhyaxryzjmy.supabase.co/rest/v1/Vine", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhxdnRlZWd4dHJoeWF4cnl6am15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODM3MDA4MTgsImV4cCI6MTk5OTI3NjgxOH0.fIAM4hosM6TLUsP1u7U7f2kO-f0G5EN_4OfCSRzoeg4",
    },
  }).then((response) => response.json());

  return data.map((vin) => {
    return {
      params: { slug: vin.slug },
      props: { myData: vin },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<Layouts title={myData.id}>
  <body>
    <Header />
    <main>
      <div class="animation_top">
        <img src={`/img/${myData.img_animation}`} alt="" />
      </div>
      <div class="grid_3_1_1" style={{ backgroundColor: myData.baggrund }}>
        <img src={`/img/produktimg/${myData.img}`} alt="produktbillede" />

        <div class="grid_3_1_2">
          <h1>{myData.titel}</h1>
          <h2>{myData.specifikationer}</h2>
          <p class="text">{myData.beskrivelse}</p>
          <p class="pris">{myData.pris}</p>

          <form>
            <label>
              Antal
              <select class="antalboks" name="antal">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </label>
            <button class="button"> Læg i kurv</button>
          </form>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</Layouts>

<style>
  /******** Generelle regler ********/
  main {
    margin-bottom: 100px;
  }
  .animation_top {
    text-align: center;
    margin-bottom: 50px;
  }
  .animation_top img {
    width: 200px;
    display: relative;
    margin-left: auto;
    margin-right: auto;
  }

  /*******  Mobil site *******/

  .grid_3_1_1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  img {
    width: 80%;
    justify-self: center;
  }

  .button {
    background-color: #55a603;
    color: #f0d8e1;
    padding: 7px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Amatic SC";
    font-size: 1.2rem;
  }
  button:hover {
    background-color: #45a049;
  }

  label {
    padding: 7px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Amatic SC", bold;
    font-size: 1.5rem;
  }

  .antalboks {
    background-color: fde8f0;
    padding: 4px 25px;
    border-radius: 4px;
    font-family: "Amatic SC";
    font-size: 1.2rem;
    border: 3px;
  }

  form {
    display: flex;
    gap: 1rem;
  }
  /******** Desktop site *******/
  @media (min-width: 750px) {
    .grid_3_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    img {
      width: 45%;
      justify-self: center;
    }

    .text {
      padding-right: 50px;
      margin-right: 80px;
    }
  }
</style>
