---
const { img, titel, specifikationer, beskrivelse, pris } = Astro.props;
---

<article>
  <div class="grid_3">
    <img src={img} alt="produktbillede" />
    <div class="grid_3_1">
      <h1>{titel}</h1>
      <h2>{specifikationer}</h2>
      <p>{beskrivelse}</p>
      <p>{pris}</p>
      <button class="button">
        <link href="../[slug].astro" />
        Læs om mig
      </button>
    </div>
  </div>
</article>

<style>
  .grid_3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  img {
    width: 25%;
    justify-self: center;
  }

  .button {
    background-color: #55a603;
    color: #f0d8e1;
    padding: 7px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Amatic SC";
    font-size: 1.2rem;
  }

  button:hover {
    background-color: #45a049;
  }
  @media (min-width: 750px) {
    .grid_3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
